#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.selection-container {
  display: flex;
  gap: 20px;
}

.equipment-section {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.map-preview-section {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.equipment-slot {
  margin-bottom: 20px;
}

.equipment-options {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.option-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid rgba(25, 118, 210, 0);
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.option-card.selected {
  border: 2px solid #1976d2;
}

.game-map {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.map-cell {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.real-map-cell {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.map-cell .cell-content .real-map-cell{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  font-size: 0.8rem;
}

.map-cell .cell-icon {
  font-size: 1.2rem;
}

.player {
  width: 24px;
  height: 24px;
  background-color: #3f51b5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* 地图格子颜色 */
.fire-1 { background-color: #ffcccc; }
.fire-2 { background-color: #ff9999; }
.fire-3 { background-color: #ff6666; }

.storm-1 { background-color: #ffffcc; }
.storm-2 { background-color: #ffff99; }
.storm-3 { background-color: #ffff66; }

.ice-1 { background-color: #ccccff; }
.ice-2 { background-color: #9999ff; }
.ice-3 { background-color: #6666ff; }

.start-cell {
  border: 2px solid #4caf50;
}

.end-cell {
  border: 2px solid #f44336;
}

